@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background: #30265a;
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: #d7cff9;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
